*~
#*

*.o
*.la
*.lo
*.so

*.in
*.log
*.bak

config.*
configure
aclocal.m4
depcomp
autom4te.cache/
compile
Makefile
install-sh
libtool
ltmain.sh
missing
py-compile
stamp-h1

cgraph.c

.deps/
.libs/

__pycache__/

*.pprof
TODO

tmp/